// Copyright 2025, Command Line Inc.
// SPDX-License-Identifier: Apache-2.0

.action-widgets {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    height: 100%;
    user-select: none;
    -webkit-app-region: no-drag;
}
