// Copyright 2024, Command Line Inc.
// SPDX-License-Identifier: Apache-2.0

.window-header {
    --default-indent: 10px;
    --darwin-not-fullscreen-indent: calc(74px * var(--zoomfactor-inv));
}

.darwin:not(.fullscreen) .window-header {
    .window-drag.left {
        width: var(--darwin-not-fullscreen-indent);
    }
}

.config-error-message {
    max-width: 500px;
    margin-bottom: 20px;

    h3 {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 10px;
    }
}

.window-header {
    padding-top: 6px;
    position: relative;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 100vw;
    -webkit-app-region: drag;
    height: max(33px, calc(33px * var(--zoomfactor-inv)));
    cursor: grab;

    &:active {
        cursor: grabbing;
    }

    button {
        -webkit-app-region: no-drag;
    }

    .window-drag {
        height: 100%;
        width: var(--default-indent);
        flex-shrink: 0;
    }
}
